@keyframes full-screen {
    from {
        width: 100%;
        height: 0px;
    }
    from , to {
        position: fixed;
        left: 0;
        top: 0;
    }
    to {
        width: 100%;
        background: rgba(255,255,255,0.75);
        backdrop-filter: blur(1.5px);
    }
}

.full-screen {
    transition: 250ms ease-in-out;
    animation: full-screen forwards 500ms;
}